.two-columns{
    width: 80%;
    min-width: 784px;
    display: flex;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .two-columns-oakley{
    width: 100%;
    min-width: 784px;
    display: flex;
    margin: auto;
    background-color: #f2f2f2;
    padding-top: 60px;
  }
  
  .two-columns_brief{
    width: 175px;
    margin-right: 40px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
  }
  
  .main-text{
    width: 80%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
  
  .paragraph{
    margin-top: 0; 
    margin-bottom: 30px;
  }
  
  .paragraph-no-top{
    margin-bottom: 30px;
  }
  
  .span-accent{
    font-weight: bold;
    display: inline;
  }