  .footer{
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;
  }
  
  .footer-columns{
    width: 90%;
    min-height: 350px;
    flex-basis: 711px;
    background-color: #1f1f1f;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
  }
  
  .footer_column-content-copyright{
    width: 50%;
    position: relative;
  }
  
  .footer-column-all{
    width: 50%;
    display: flex;
    position: relative;
  }
  
  .footer-column-info{
    min-height: 350px;
    margin: auto;
    color: white;
  }
  
  .footer-column-social{
    min-height: 350px;
    position: absolute;
    right: 0;
    color: white;
  }

  .footer_logo-place{
    width: 183px;
    height: 35px;
    background-size: cover;
  }
  
  .author{
    position: absolute;
    color: white;
    left: 0;
    bottom: 18px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
  }
  
  .footer_column-link{
    color: white;
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
  }.footer_column-link:hover{
    color: rgb(180, 180, 180);
  }
  
  .footer-column-heading{
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer_column-links{
    margin-top: 20px;
    margin-bottom: 16px;
  }
  
  .footer_social-icon{
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }