.header__title{
    width: 730px;
    align-items: center;
    display: flex;
    margin: auto;
    z-index: 1;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    margin: 0;
    margin-left: 64px;
    margin-top: 160px;
  }